<div id="<%= dom_id episode %>">
  <p>
    <strong>Title:</strong>
    <%= episode.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= episode.description %>
  </p>

  <p>
    <strong>Audio file:</strong>
    <%= episode.audio_file %>
  </p>

  <p>
    <strong>Podcast:</strong>
    <%= episode.podcast_id %>
  </p>

</div>
