<%= form_with(model: episode, url: [user, podcast, episode]) do |form| %>
  <% if episode.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(episode.errors.count, "error") %> prohibited this episode from being saved:</h2>

      <ul>
        <% episode.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :audio_file, class: "form-label" %>
    <%= form.text_field :audio_file, class: "form-control" %>
  </div>

<!--  <div class="mb-3">-->
    <%#= form.label :podcast_id, class: "form-label" %>
    <%#= form.text_field :podcast_id, class: "form-control" %>
<!--  </div>-->

  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
