<p style="color: green"><%= notice %></p>


<div class="row mt-5">
  <div class="col">
    <h1><%= @episode.title %></h1>
  </div>
  <div class="col-3 d-inline-flex p-2">
    <%= button_to "Delete episode",
                  user_podcast_episode_path(@user, @podcast, @episode),
                  method: :delete,
                  class: 'btn btn-outline-danger' %>

    <%= link_to "Edit episode",
                edit_user_podcast_episode_path(@user, @podcast, @episode),
                class: 'btn btn-primary ms-2',
                role: 'button' %>
  </div>
</div>

<hr class="my-5">

<div class="row">
  <div class="col">
    <%= render @episode %>
  </div>
</div>
