<div id="<%= dom_id podcast %>">
  <p>
    <strong>Title:</strong>
    <%= podcast.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= podcast.description %>
  </p>

  <p>
    <strong>Cover art:</strong>
    <%= podcast.cover_art %>
  </p>

  <p>
    <strong>User:</strong>
    <%= podcast.user_id %>
  </p>

</div>
